.selectLanguageDropdown{
    width: 100px;
    height: 30px;
    margin: 0px 10px;
    cursor: pointer;
}
.selectLanguageDropdown-container{
    background-color: white;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0px 5px;
}
.selectLanguageDropdown-flag{
    height: 20px;
}
.selectLanguageDropdown-activeLanguage{
    color: var(--textDark);
    margin: 0px 5px;
}
.selectLanguageDropdown-i{
    color: var(--textDark);
    font-size: 10pt;
    margin: 5px 0px 0px 5px;
}
.selectLanguageDropdown-dropdownMenu{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    background-color: white;
}
.selectLanguageDropdown-dropdownMenu-ul{
    list-style: none;
}
.selectLanguageDropdown-dropdownMenu-li{
    background-color: var(--white);
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0px 5px;
    border-top: 1px solid var(--borderColor);
}
.selectLanguageDropdown-dropdownMenu-li:hover{
    background-color: var(--backgroundColor);
}
.selectLanguageDropdown-dropdownMenu-active{
    background-color: var(--gray) !important;
}
.selectLanguageDropdown-span{
    color: var(--textDark);
    margin: 0px 5px;
}