.FooterHome{
    width: 100%;
    position: relative;
    margin-top: 150px;
    height: 300px;
    background: var(--primary);
    color: #FFF;
    padding: 20px;
}
.FooterHome::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 125%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }