.painelGestoraGestorDeBeneficiosTiposDeAtividades-containerGeral{
    background-color: var(--white);
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--borderColor);
}
.painelGestoraGestorDeBeneficiosTiposDeAtividades-containerGeral button{
    font-size: 10pt;
    margin-right: 10px;
}