.managerDashboardProgramTableLatestRegisters-generalContainer{
    margin-top: 30px;
}
.managerDashboardProgramTableLatestRegisters-generalContainer .tdContainerImagem img{
    width: 30px;
    height: 30px;
}